@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Space+Grotesk:wght@300;400;600;700&display=swap');

body {
    font-family: 'Outfit', sans-serif;
    color: #000;
    background: #fff;
}

h1,
h2,
h3 {
    font-family: 'Space Grotesk', sans-serif;
}

@media print {
    @page {
        margin: 2cm;
    }

    body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    .no-print {
        display: none;
    }

    .page-break {
        page-break-before: always;
    }
}